doc/iptv-ott1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:impl="iptv" xmlns:intf="iptv" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="iptv">
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="iptv">
      <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <complexType name="CSPResult">
        <sequence>
          <element name="Result" type="xsd:int"/>
          <element name="ErrorDescription" nillable="true" type="soapenc:string"/>
        </sequence>
      </complexType>
    </schema>
  </wsdl:types>
  <wsdl:message name="ExecCmdRequest">
    <wsdl:part name="CSPID" type="soapenc:string"/>
    <wsdl:part name="LSPID" type="soapenc:string"/>
    <wsdl:part name="CorrelateID" type="soapenc:string"/>
    <wsdl:part name="CmdFileURL" type="soapenc:string"/>
  </wsdl:message>
  <wsdl:message name="ExecCmdResponse">
    <wsdl:part name="ExecCmdReturn" type="impl:CSPResult"/>
  </wsdl:message>
  <wsdl:portType name="CSPRequest">
    <wsdl:operation name="ExecCmd" parameterOrder="CSPID LSPID CorrelateID CmdFileURL">
      <wsdl:input name="ExecCmdRequest" message="impl:ExecCmdRequest"/>
      <wsdl:output name="ExecCmdResponse" message="impl:ExecCmdResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ctmsSoapBinding" type="impl:CSPRequest">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ExecCmd">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="ExecCmdRequest">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="iptv"/>
      </wsdl:input>
      <wsdl:output name="ExecCmdResponse">
        <wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="iptv"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CSPRequestService">
    <wsdl:port name="ctms" binding="impl:ctmsSoapBinding">
      <wsdlsoap:address location="http://127.0.0.1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>