src/main/java/com/miri/blephone/mediainjector/iptv/c2/notify/ctms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:impl="iptv" xmlns:intf="iptv" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="iptv">
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="iptv">
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
			<complexType name="CSPResult">
				<sequence>
					<element name="Result" type="xsd:int"/>
					<element name="ErrorDescription" nillable="true" type="soapenc:string"/>
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="ResultNotifyResponse">
		<wsdl:part name="ResultNotifyReturn" type="impl:CSPResult"/>
	</wsdl:message>
	<wsdl:message name="ResultNotifyRequest">
		<wsdl:part name="CSPID" type="soapenc:string"/>
		<wsdl:part name="LSPID" type="soapenc:string"/>
		<wsdl:part name="CorrelateID" type="soapenc:string"/>
		<wsdl:part name="CmdResult" type="xsd:int"/>
		<wsdl:part name="ResultFileURL" type="soapenc:string"/>
	</wsdl:message>
	<wsdl:portType name="CSPResponse">
		<wsdl:operation name="ResultNotify" parameterOrder="CSPID LSPID CorrelateID CmdResult ResultFileURL">
			<wsdl:input name="ResultNotifyRequest" message="impl:ResultNotifyRequest"/>
			<wsdl:output name="ResultNotifyResponse" message="impl:ResultNotifyResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ctmsSoapBinding" type="impl:CSPResponse">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ResultNotify">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="ResultNotifyRequest">
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="iptv"/>
			</wsdl:input>
			<wsdl:output name="ResultNotifyResponse">
				<wsdlsoap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="iptv"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CSPResponseService">
		<wsdl:port name="ctms" binding="impl:ctmsSoapBinding">
			<wsdlsoap:address location="http://127.0.0.1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
